<!DOCTYPE html>
<html>

<head>
  <title>codeoncoke
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />

</head>

<body>
  <div class="container" style="border-left:1px #777 solid;border-right:1px #777 solid;border-bottom:1px #777 solid;padding:0">
    <div style="border-top:2px rgb(50, 151, 197) solid">
      <img src="/images/techBackground.png" class="img-fluid mx-auto" alt="Responsive image">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link utilHover" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item utilHover">
            <a class="nav-link" href="/post/add">Add post</a>
          </li>
          <li class="nav-item utilHover">
            <a class="nav-link" href="/category/add">Add Category</a>
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="./ckeditor/ckeditor.js">console.log('here'); CKEDITOR.replace('body')</script>

</html>