body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.utilHover:hover {
  background-color: #00b7ff;
}
a {
  color: #00b7ff;
  text-decoration: none !important;
}
.home__container {
  margin: 50px;
}
.home__blog--post {
  margin: 20px;
  display: inline;
  border: #777 solid 1px;
  padding: 2rem;
}
.home__blog--post a {
  font-size: 3rem;
}
.home__blog--post p {
  font-size: 1.5rem;
}
